<h1>Reviews#show</h1>
<p>Find me in app/views/reviews/show.html.erb</p>

<ul>
    <% @reviews.each do |review| %>
    <li>
        <h3><%= "#{review.content} | #{review.rating}" %></h3>
    </li>
    <% end %>
</ul>
